<h1>Homepage</h1>

{{#each sets}}
  <div class="card">
    <h2>{{name}} by <a href="/profile/{{User.id}}">{{User.username}}</a></h2>
    <ul>
      {{#each Dices}}
        <li>d{{size}}: {{name}}</li>
      {{/each}}
    </ul>
    <a href="/set/{{id}}"><button>Use Set</button></a>
  </div>
{{/each}}

{{#if loggedIn}}
{{> addSetLink}}
{{/if}}