<h1>{{user.username}}'s set</h1>

{{#each user.Sets}}
  <div class="card">
    <h2>{{name}}</h2>
    <ul>
      {{#each Dices}}
        <li>d{{size}}: {{name}}</li>
      {{/each}}
    </ul>
    <a href="/set/{{id}}"><button>Use Set</button></a>
    {{#if ../isMyProfile}}
      <button class="del-set-btn" data-id="{{id}}">Delete</button>
    {{/if}}
  </div>
{{/each}}
{{#if isMyProfile}}
  {{> addSetLink}}
{{/if}}
<script src="/js/profile.js"></script>